
@font-face {
  font-family: Roboto;
  font-weight: normal;
  src: url('/public/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: Roboto;
  font-weight: 400;
  src: url('/public/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: Roboto;
  font-weight: 300;
  src: url('/public/fonts/Roboto/Roboto-Light.ttf');
}

@font-face {
  font-family: Roboto;
  font-weight: bold;
  src: url('/public/fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: Roboto;
  font-weight: 700;
  src: url('/public/fonts/Roboto/Roboto-Bold.ttf');
}