@import "./bootstrap4/bootstrap.scss";
@import "./assignment-statuses.scss";
@import "./fonts.scss";
@import "./variables.scss";

body {
  font: {
    family: $font-family-base;
    size: $font-size-base;
    weight: $font-weight-base;
  }

  color: $body-color;
  background-color: $body-bg;
  height: 100%;
  overflow-x: hidden;
}

.logo-img {
  height: 72px;
  margin: 0 auto;
}

.main-content {
  max-width: 920px;
  margin: 0 auto;
}

.city-img {
  height: 200px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}